@model PilotProject.Medic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Hidden("medicId", Model.Id)
<fieldset>
    <legend>Medic</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field" id="firstName">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field" id="lastName">
        @Html.DisplayFor(model => model.lastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/Scripts/medic.js")
}

